@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

@mixin border {
  border: solid 1px #234;
}

:root {
  font-size: 16px;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  overflow-x: hidden;
}

#loading {
  position: fixed;
  display: none;
  left: 50%;
  top: 105px;
  transform: translateX(-50%);
  z-index: 10;
  background-color: rgba(255, 255, 255, 1);
}

.wrapper {
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 100px auto 160px repeat(3, auto) 55px;
  gap: 5px;
  position: relative;
}

header.main-header {
  position: relative;
  height: 100px;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,82,255,1) 100%);  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 15px;
  box-sizing: border-box;

  h1 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  ul.social {
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    li img {
      width: 30px;
    }

  }
}

.chords-title h1 {
  text-align: center;
  justify-self: center;
  width: 100%;
  justify-self: center;
  font-size: 2em;
  margin: 0;
  padding: 0;
  color: black;
}

.scaleTitle-container {
  grid-row: 2/3;
  display: flex;
  align-items: center;
}

.scaleTitle {
  margin: 0 auto;
  box-sizing: border-box;
}

.main-neck-container {
  position: relative;
  left: 25px;
  grid-row: 3 / 4;
  width: 100vw;
  height: 160px;
  left: 0;
  top: 0;
  padding-left: 0px;
  padding-right: 5px;
  overflow: auto;
  overflow-y: hidden;
}

.neck-container {
  position: absolute;
  left: 22px;
  grid-row: 3 / 4;
  width: 90vw;
  min-width: 735px;
  max-width: 1366px;
  display: flex;
  height: 100%;
  right: 0;
  margin: 0 auto;
  margin-bottom: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.neck {
  position: relative;
  display: flex;
  height: 126px;
  margin-bottom: 12px;
  box-sizing: border-box;
  background-color: #ffe5cc;
}

.neck1 {
  flex: 1.54;
}

.neck2 {
  flex: 1.1;
}

.neck3 {
  flex: 0.78;
}

.neck4 {
  flex: 0.58;
}

.formContainer {
  grid-row: 4/5;
  justify-self: center;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.form-div {
  position: relative;
  margin-bottom: 20px;
}

.chords-title {
  grid-row: 5/6;
  display: flex;
  align-items: center;

  h1::after {
    content: "Click each chord for variations if available";
    font-size: 0.4em;
    text-align: center;
    display: block;
    font-weight: normal;
  }
}

.chords-container {
  position: relative;
  grid-row: 6/7;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.chord-container,
.more-chord-container {
  margin: 5px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: opacity 0.25s ease-in-out;
  background-color: #fff;

  h2 {
    text-decoration: underline;
    font-size: 1.4em;
    margin-bottom: 15px;
    color: black;
  }

  img {
    width: 150px;
  }
}

.chords-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.more-chords {
  position: fixed;
  width: 95vw;
  max-width: 31rem;
  max-height: 100vh;
  overflow: auto;
  background: white;
  @include border();
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 3;
  display: none;

  h1 {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-user-select: none;
    font-size: 1.8em;
    margin-bottom: 0px;
    margin-top: 5px;
    text-align: center;
    color: black;
    margin: 0;
  }
}

.more-chords-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.more-key-chords {
  text-align: center;
  font-size: 0.9em;
}

.chords-zoom {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 3;
  background: white;

  @include border();
  display: none;

  img {
    height: 95vh;
    max-height: 350px;
  }
}

.fret-num {
  position: absolute;
  right: 3px;
  bottom: -20px;
}

h2 {
  text-align: center;
  font-size: 1.8em;
  margin: 0;
}

select {
  font-size: 1.2em;
  text-align: center;
  margin-right: 5px;
  padding-bottom: 1px;
  max-width: 170px;
}

.notes {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

.dots {
  position: absolute;
  background-color: #333;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  text-align: center;
}

.dot {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.doubledot1 {
  left: 50%;
  top: 23px;
  transform: translateX(-50%);
}

.doubledot2 {
  left: 50%;
  top: 86px;
  transform: translateX(-50%);
}

.finger {
  color: #eee;
  font-size: 11px;
  text-align: center;
  position: relative;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-right: 1px;

}

.finger0 {
  left: -20px;
  z-index: 2;
}

.fretNote {
  font-weight: bold;
  z-index: 4;
  margin: 0;
  transform: scaleX(1);
}

.E1open,
.E1 {
  top: 0px;
}

.Bopen,
.B {
  top: 0px;
}

.Gopen,
.G {
  top: 0px;
}

.Dopen,
.D {
  top: 0px;
}

.Aopen,
.A {
  top: 0px;
}

.E2open,
.E2 {
  top: 0px;
}

.string {
  width: 100%;
  background-color: #a0a0a0;
  position: absolute;
  z-index: 2;
}

.string1 {
  top: 10px;
  height: 1px;
}

.string2 {
  top: 31px;
  height: 1px;
}

.string3 {
  top: 52px;
  height: 1.5px;
}

.string4 {
  top: 73px;
  height: 2px;
}

.string5 {
  top: 94px;
  height: 2px;
}

.string6 {
  top: 114px;
  height: 2.5px;
}

.fret {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  border-right: 3px solid #777;
  /* box-sizing: border-box;
  text-align: right; */
}

.fretNut {
  position: absolute;
  vertical-align: top;
  z-index: 0;
  height: 126px;
  display: inline-block;
  border-right: 7px solid #000;
  left: 5px;
}

.fret0 {
  position: absolute;
  border: none;
}

.fret1 {
  flex: 1.15;
}

.fret2 {
  flex: 1.09;
}

.fret3 {
  flex: 1.04;
}

.fret4 {
  flex: 0.94;
}

.fret5 {
  flex: 0.89;
}

.fret6 {
  flex: 0.83;
}

.fret7 {
  flex: 1.15;
}

.fret8 {
  flex: 1.09;
}

.fret9 {
  flex: 1.04;
}

.fret10 {
  flex: 0.94;
}

.fret11 {
  flex: 0.89;
}

.fret12 {
  flex: 0.83;
}

.fret13 {
  flex: 1.15;
}

.fret14 {
  flex: 1.09;
}

.fret15 {
  flex: 1.04;
}

.fret16 {
  flex: 0.94;
}

.fret17 {
  flex: 0.89;
}

.fret18 {
  flex: 0.83;
}

.fret19 {
  flex: 1.15;
}

.fret20 {
  flex: 1.09;
}

.fret21 {
  flex: 1.04;
}

.fret22 {
  flex: 0.94;
}

.fret23 {
  flex: 0.89;
}

.fret24 {
  flex: 0.83;
}

.nojs {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: red;
  padding: 0;
  margin: 0;
}

button {
  position: relative;
  font-size: 1.2em;
  background: white;

  @include border();
  padding: 1px;
  top: 2px;
  bottom: 1px;
  box-shadow: 1px 1px grey;
  outline: none;
  margin-right: 5px;

  &:active {
    box-shadow: inset 1px 1px grey;
    font-size: 1.1em;
    margin-left: 6px;
    margin-right: 6px;
  }
}

.more-chords-close {
  color: white;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  right: 5px;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
  background-color: black;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#footer {
  height: 100%;
  grid-row: 7/8;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,82,255,1) 100%);  color: #fff;

  p {
    font-size: .9rem;
    text-align: center;
    margin: 0;

    a {
      color: white;
    }
  }

}

@media screen and (min-width: 600px) {
  header.main-header ul.social {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
    width: 160px;

    li img {
      height: 30px;
      width: auto;
    }
  }
}